body{
  color: #06113C;
}
.navbar-brand{
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  color: #000000;
}
.navbar-brand:hover{
  color: #000000;
}
.main-img{
  padding: 3%;
}
a{
  color: #06113C;
}
a:hover{
  color: #06113C;
  text-decoration: none;
}
.navbar{
  background-color: #DDDDDD;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  color: #000000;
}
.nav-link:hover{
  color: #000000;
}
#title{
  font-family: "Montserrat";
  background-color: #DDDDDD;
}
.main-container{
  padding: 12% 12% 10% 12%;
}
.first-container{
  padding: 6% 12% 10% 12%;
  background-color: #EEEEEE;
}
.second-container{
  padding: 12% 8% 10% 8%;
  background-color: #DDDDDD;
}
.third-container{
  padding: 6% 12% 10% 12%;
  background-color: #EEEEEE;
}
.fourth-container{
  padding: 6% 12% 10% 12%;
  background-color: #DDDDDD;
}
.fifth-container{
  padding: 6% 12% 10% 12%;
  background-color: #EEEEEE;
}
.contact{
  padding: 6% 12% 10% 12%;
  background-color: #DDDDDD;
}
.footer{
  padding-left: 70%;
  background-color: #EEEEEE;
}
.career{
  padding-bottom: 5%;
  line-height: 10px;
}
.awe-font{
  text-align: justify;
  text-align-last: center;
  padding: 5%;
}
.main-line{
  font-weight: bold;
  color: #06113C;
  font-size: 3rem;
  line-height: 1.5;
}
.title-img-div{
  padding: 0 5%;
}
.title-image{
  transform: rotate(25deg);
}
.btn-outline{
  font-family: "Ubuntu";
  color: #06113C;
}
.btn-outline:hover{
  background-color: #FF8C32;
}
.fa-3x:hover{
  color: #FF8C32;
}
.carousel-caption{
  color: #06113C;
  padding-bottom: 50px ;
}
.carousel-item{
  height: 300px;
}
.card{
  align-items: center;
}
.main-banner{
  z-index: 1;
}
.main-img{
  position: relative;
  z-index: 0;
}
